@page "/logout"
@inject ILoginService loginService
@inject NavigationManager navigationManager

<p>Login out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await loginService.LogoutAsync();
        navigationManager.NavigateTo("/");
    }
}
