@layout AuthLayout
@page "/Orders/SaleConfirmed"

<center>
    <h3>Order Confirmed Successfully</h3>
    <img src="images/Shopping.png" class="img-fluid" />
    <br /><br />
    <p><h3> Your order has been confirmed. Your products should be proccessed  soon for a fast delivery. Thank You!</h3> </p>
    <a href="/" class="btn btn-primary rounded-pill ">Return</a>
</center>

